<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{location.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<div align="center">
		<ion-slides pager="true" >
			<ion-slide >
				<img src="assets/imgs/logo.png"  style="height:40%;width:40%"/>
			</ion-slide>
			<ion-slide style="height:40%;width:100%">
				<img src="assets/imgs/logo.png"  style="height:40%;width:40%"/>
			</ion-slide>
			<ion-slide style="height:40%;width:100%">
				<img src="assets/imgs/logo.png"  style="height:40%;width:40%"/>
			</ion-slide>
		</ion-slides>
	</div>
	<div  style="background-color:#444888;color:white;padding-left:9px;padding-left:5px" >
		<h3>{{location.name}} <ion-icon name="star" style="color:#d4af37;"></ion-icon> 4.2</h3>
		<p>{{location.snippet}}</p>
		<div style="width:33.33%;display:inline-block;" *ngFor="let tab of tabs" align="center" (click)="optionSelected(tab)">

			<button ion-button clear style="color:white">{{tab}}</button>

		</div>
	</div>
	<div padding>
		<div [hidden]="overviewShow">

		<ion-item>
		<h3 style="font-size:23px;font-style:bold">Features:</h3>
			<div *ngFor="let f of location.features">
				<ion-icon name="md-arrow-dropright" style="padding-right:15px"></ion-icon>  {{f}}
			</div>
		</ion-item>
		<ion-item text-wrap>
			<button ion-button clear icon-only item-end><a href="{{'tel:'+location.number}}"><ion-icon name="call" style="color:black" ></ion-icon></a></button>
			<h3 style="font-size:23px;font-style:bold">Address</h3>
			<p>{{location.address}}</p>
		</ion-item>
		</div>
		<div [hidden]="reviewShow">
			<ion-list>
				<ion-item *ngFor="let r of reviews" text-wrap>

          <h4 style="font-size:20px;">{{r.review}}</h4>
					<h5>By:{{r.by}} </h5>
					<p>Rating:<ion-icon name="star"></ion-icon>{{r.rating }} </p>

				</ion-item>
			</ion-list>
		</div>
		<div [hidden]="photoShow">
			<ion-grid>
				<ion-row>
					<ion-col style="min-width:33.33%" *ngFor="let r of reviews">
						<img src="assets/imgs/logo.png" />
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</div>


</ion-content>
